body {
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
    font-size: 100%;
	line-height: 1.5;
}

h1, h2 {
    font-family: "Open Sans Condensed", sans-serif;
}

.titulo {
    background-color: #851944;
    color: #FFF;
    text-align: center;
    padding: 25px;
    border-bottom: 10px solid black;
    font-size: 60px;
    text-transform: uppercase;
}

h2 {
    font-size: 30px;
    clear: both;
}

main {
    width: 85%;
    float: left;
    padding-bottom: 20px;
}

main a {
	color: #851944;
}

main div {
    width: 720px;
    margin: auto;
    padding: 30px 0;    
}

p {
    text-align: justify;
    font-family: "Times New Roman", serif;
    margin: 20px 0;
}

.citacoes {
	background-color: #D9E5E3;
	border: 10px solid #C2CCCA;
	width: 250px;
	box-sizing: border-box;
	border-bottom-color: transparent;
    border-right-color: #FFF;
    margin: 20px 40px;
}

.fiat {
    float: right;
}

.petrobras {
    float: left;
}

.navegacao {
    background-color: #3C1D3D;
    color: #F2FFFC;
    text-align: center;
    position: relative;
    top: 310px;
}

.navegacao nav a {
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 16px;
    padding: 25px;
    text-transform: lowercase;
}

.icones-sociais li {
    display: inline-block;
}

.navegacao, .minha-foto {
    box-sizing: border-box;
    border-left: 10px solid black;
    border-bottom: 10px solid black;
    float: right;
}

.minha-foto {
    position: absolute;
    top: 0;
    right: 0;
}

nav a {
	color: #F2FFFC;
}

footer {
	background-color: #000;
	color: #F2FFFC;
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.social-rodape {
    margin: 60px;
}

blockquote, aside, footer {
	padding: 20px;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}