body {
    font-family: "Crimson Text", serif;
    background-color: #F2FFFC;
}

h1, h2 {
    font-family: "Open Sans Condensed", sans-serif;
}

h1 {
    color: #fff;
    text-align: center;
    background-color: #851944;
}

p {
    text-align: justify;
}