body {
    font-family: "Crimson Text", serif;
    background-color: #F2FFFC;
}

h1, h2 {
    font-family: "Open Sans Condensed", sans-serif;
}

h1 {
    color: #fff;
    text-align: center;
    background-color: #851944;
}

p {
    text-align: justify;
}

article {
	border-bottom: 1px solid #ccc;
}

.navegacao-site {
    background-color: #3C1D3D;
    color: #F2FFFC;
    padding: 20px;
    text-align: center;
}

.icones-sociais li {
    display: inline-block;
}

.leia-mais {
    font-size: 20px;
    color: #000;
    padding: 5px;
}